@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#1f1517 ;
    color: white;
}
html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: white;
}
/*todos os links configurados abaixo */
a:hover{
    background-color: white;
    color: #241A1C;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    }
ul{
    list-style: none;
}

nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    /*configurando a nav do header deixando alinhado com row*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
ul{
    display: flex;
    gap: 1.5em;
    color: #FFF2E780;
}
.github{
    padding: .5rem;
    font-weight: 8f00;
    font-family: Teko;
}
main{
    display: flex;
    flex-direction: column;
}
.destaque{
    font-family: Epilogue;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;


}
.marrom{
    color: #A45A49;

}
.amarelo{
    color:#E7AB0E ;
}
h1{
    font-family: Montserrat;
    font-size: 3.5rem;
    font-weight: 800;

}
hr{
    border-color: #A45A49;
}
.hero-sub{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
}
.principal{
    background-color: #181012;
}
.hero{
    max-width: 1120px;
    height: 60vh;
    display: flex;
    align-items: center;

    /*espaço entre as imagens*/
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;

    /*puxar para dentro */
    padding: 0 rem 2rem;
    margin: auto;
    /*Coloca as imagens para dentro do bunner*/
    overflow: clip;

}
/*logo a baixo é o bunner do hero*/
.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
/* Fazendo as imagens ficar quebradas*/
.hero-imagem-container{
    max-width: 45% ;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
  
}
.hero-imagem-container > figure > img{
    width: 100% ;
    border-radius: 0.5rem;

}

.servicos{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 2rem 2rem;
    margin: auto;

}
.servicos-cabecalhos{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.titulo{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 2rem;
    color: #FFF2E7;
}
.sub{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}
.servicos-card-container{
    padding: 0rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.servicos-cards{
    background-color: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-basis: 29rem;
}
.limpa-nome{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
h3{
    color: #FFF2E7;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5rem;
}
.whats-limpa{
display: flex;
flex-direction: row;
align-items: center;
gap: 0.5rem;
}
.whats-limpa > img{
    border-radius: 20em;
    width: 1.5rem;
}
.especialista01{
    color: #C7BAB3;
    font-family: Inter;
    font-weight: 600;
    font-size: 1rem;
}

.BACEN{
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    background-color: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    flex-basis: 29rem;
}
.credito{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    flex-basis: 29rem;
}
.score{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    flex-basis: 29rem;
}
.conso{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    flex-basis: 29rem;
}
.casa{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: #241A1C;
    padding: 2rem;
    border-radius: 0.5rem;
    flex-basis: 29rem;
}

.titulo-video{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.video{
display: flex;
align-items: center;
margin: auto;
flex-direction: row;
gap: 0rem;
}

#para-video > a{
    color: #E7AB0E;
    padding: 0.5em ;
}
.video-principal{
    background-color: #181012;
}
footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: #23181A;
}
footer > p{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF2E7;
}